pyinstaller==5.13.1
tendo==0.2.15
py3amf==0.8.10
flask==2.3.2
Werkzeug==2.3.8
SQLAlchemy==1.4.37
flask_session==0.5.0
flask_sqlalchemy==2.5.1
flask_compress==1.12
flask_socketio==5.2.0
libscrc
daiquiri==3.0.1
python-editor==1.0.4
xmldiff==2.4
jsonpatch==1.22
tqdm==4.66.3
setuptools
pytest==7.1.2
