<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8"/>
	<!-- Title and Icon -->
	<title id="pageTitle">Empires &amp; Allies</title>
	<link rel="shortcut icon" href="img/icon.png"/>
	<link rel="icon" type="image/png" href="img/icon.png"/>
	<!-- CSS -->
    <link rel="stylesheet" href="css/facebook.css"/>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: auto; background-image: url(img/sample_blur_bg.png); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
	<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite">
		<!-- HEAD TITLE -->
		<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
			<div class="clearfix uiHeaderTop">
				<div>
					<img src="img/epoints.png" height="18px" style="margin-left: 5px;">
					<h2 class="uiHeaderTitle" aria-hidden="true" style="margin-left: 2px; display: inline-block;">
						 <a href="#" style="text-decoration: none;">Empires &amp; Allies </a>
					</h2>
					<p style="display: inline-block; margin: 0 0 4px 6px;">By Raise the Empires team</p>
				</div>
			</div>
		</div>
		<!-- WECOME CONTENT -->
		<div class="phl ptm uiInterstitialContent">
			<br>
			<b>Game version:</b> alpha {{ version | default("UNKNOWN version")}} (<a href="releases.html">see Changes</a>)
			<br>
			<b>Release date:</b> {{ release_date | default("UNKNOWN version")}}
			<br><br><br>
			<div style="position:relative;padding-top:56.25%;">
				<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/pAdlyz9miqo?controls=0" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<!-- FOOTER -->
		<div id="footer" class="uiInterstitialBar uiBoxGray topborder">
			<div class="clearfix">
				<div class="rfloat">
					<a class="uiButton uiButtonConfirm" href="/login.html" role="button" name="try_again_button">
						<span class="uiButtonText">Play now</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- LOADING -->
	<div id="canvas_throbber">
		<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
		<img class="mtl img" src="img/loading.gif" alt="" width="32" height="32"/>
	</div>
</body>
</html>