<!DOCTYPE html>
<html lang="en">
<head>
	<title id="pageTitle">Empires &amp; Allies on Facebook | Facebook</title>
	<link rel="shortcut icon" href="layouts/icon.png"/>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="layouts/yc_r.css"/>
    <link rel="stylesheet" href="layouts/yz_r.css"/>
    <link rel="stylesheet" href="layouts/yC2_r.css"/>
</head>

<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US">

	<!-- TOP BANNER -->

	<div class="-cx-PRIVATE-fbLayout__root">
	  	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
	  		<div id="blueBarHolder">
	  			<div id="blueBar">
	  				<div>
	  					<div class="loggedout_menubar_container">
	  						<div class="clearfix loggedout_menubar">
	  							<a class="lfloat" href="#" title="Go to Facebook Home">
	  								<i class="fb_logo img sp_e2gpgs sx_584554">
	  									<u>Facebook logo</u>
	  								</i>
	  							</a>
	  						</div>
	  					</div>
	  				<div class="signupBanner">
	  					<div class="signup_bar_container">
	  						<div class="signup_box clearfix">
			  				</div>
			  			</div>
			  		</div>
			  	</div>
	  		</div>
		</div>
	</div>

	<!-- PAGE BODY -->

	<div id="globalContainer" class="uiContextualLayerParent">
		<div id="content" class="fb_content clearfix">
			<div>
				<div id="mainContainer">
					<div id="contentCol" class="clearfix hasRightCol">
						<div id="rightCol" role="complementary">
							<div class="fixedAux">
								<div class="canvasRHCFooter" id="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content">
									<div class="mtl">
										<div class="rhcFooterWrap" role="contentinfo">

											<div class="rhcFooterCopyright fsm fwn fcg">
												<span>Empires &amp; Allies</span>
												 · 
												<a href="#">App Privacy</a>
												 · 
												<a href="#">App Terms</a>
												 · 
												<a href="#">Report/Contact this App</a>
											</div>

											<div class="fsm fwn fcg">
												<a rel="dialog" href="#" title="Use Facebook in another language." role="button">English (US)</a>
												 · 
												<a href="http://www.facebook.com/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a>
												 · 
												<a href="http://www.facebook.com/policies?ref=pf" title="Review our terms and policies.">Terms</a>
												 · 
												<a href="http://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookies">Cookies</a>
												 · 
												<div class="-cx-PRIVATE-uiInlineBlock__root uiPopover" id="rhc_footer_selector">
													<a class="rhcFooterSelectorButton -cx-PRIVATE-uiPopover__trigger" href="#" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_0_3" role="button">
														More <i class="img sp_ctntui sx_321d1b"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="contentArea" role="main" aria-describedby="pageTitle">
							

							<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite" title="">
								<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
									<div class="clearfix uiHeaderTop">
										<div>
											<h2 class="uiHeaderTitle" aria-hidden="true"> Empires &amp; Allies</h2>
										</div>
									</div>
								</div>
								<div class="phl ptm uiInterstitialContent">
									By Raise the Empires team
									<br>
									<br>
									<b>Game version:</b> pre-alpha 0.2a
									<br>
									<b>Release date:</b> UNKNOWN. [format: Sunday, 21 Jul 2019 ]
									<br>
									<br>
								</div>
								<div class="uiInterstitialBar uiBoxGray topborder">
									<div class="clearfix">
										<div class="rfloat">
											<a class="uiButton uiButtonConfirm" href="home.html" role="button" name="try_again_button">
												<span class="uiButtonText">Play now</span>
											</a>
											<a class="inputaux uiButton" href="https://empiresandallies.fandom.com/wiki/Empires_%26_Allies_Wiki/Main_2" role="button" name="exit_button" target="_blank">
												<span class="uiButtonText">E&amp;A Wiki</span>
											</a>
											<a class="inputaux uiButton" href="releases.html" role="button" name="exit_button">
												<span class="uiButtonText">Change log</span>
											</a>
										</div>
										<div class="pts">
										</div>
									</div>
								</div>
							</div>
							<div id="canvas_throbber">
								<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
								<img class="mtl img" src="https://web.archive.org/web/20130619115711im_/https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif" alt="" width="32" height="32"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


