<!DOCTYPE html>
<html lang="en">
<head>
	<title id="pageTitle">Empires &amp; Allies on Facebook | Facebook</title>
	<link rel="shortcut icon" href="layouts/icon.png"/>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="layouts/yc_r.css"/>
</head>

<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" 
style="overflow: hidden;">
	<div class="-cx-PRIVATE-fbLayout__root">
	  	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
	  		<div id="blueBarHolder">
	  			<div id="blueBar">
	  				<div>
	  					<div class="loggedout_menubar_container">
	  						<div class="clearfix loggedout_menubar">
	  							<a class="lfloat" href="#" title="Go to Facebook Home">
	  								<i class="fb_logo img sp_e2gpgs sx_584554">
	  									<u>Facebook logo</u>
	  								</i>
	  							</a>
	  						</div>
	  					</div>
	  				<div class="signupBanner">
	  					<div class="signup_bar_container">
	  						<div class="signup_box clearfix">
			  				</div>
			  			</div>
			  		</div>
			  	</div>
	  		</div>
		</div>
	</div>
	<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite" title="">
		<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
			<div class="clearfix uiHeaderTop">
				<div>
					<h2 class="uiHeaderTitle" aria-hidden="true" style="float: left"> Empires &amp; Allies</h2>
					<img src="layouts/epoints.png" height="18px" style="margin-left: 5px">
				</div>
			</div>
		</div>
		<div class="phl ptm uiInterstitialContent">
			By Raise the Empires team
			<br>
			<br>
			<b>Game version:</b> alpha {{ version | default("UNKNOWN version")}}
			<br>
			<b>Release date:</b> {{ release_date | default("UNKNOWN version")}}
			<br>
			<br>

			<div style="position:relative;padding-top:56.25%;">
				<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/pAdlyz9miqo?controls=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="uiInterstitialBar uiBoxGray topborder">
			<div class="clearfix">
				<div class="rfloat">
					<a class="uiButton uiButtonConfirm" href="home.html" role="button" name="try_again_button">
						<span class="uiButtonText">Play now</span>
					</a>
					<a class="inputaux uiButton" href="https://empiresandallies.fandom.com/wiki/Empires_%26_Allies_Wiki/Main_2" role="button" name="exit_button" target="_blank">
						<span class="uiButtonText">E&amp;A Wiki</span>
					</a>
					<a class="inputaux uiButton" href="releases.html" role="button" name="exit_button">
						<span class="uiButtonText">Change log</span>
					</a>
				</div>
				<div class="pts">
				</div>
			</div>
		</div>
	</div>
</div>