<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8"/>
	<!-- Title and Icon -->
	<title id="pageTitle">Empires &amp; Allies</title>
	<link rel="shortcut icon" href="img/icon.png"/>
	<link rel="icon" type="image/png" href="img/icon.png"/>
	<!-- CSS -->
	<link rel="stylesheet" href="css/facebook.css"/>
	<!-- JS -->
	<script src="js/session.js"></script>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: auto; background-image: url(img/sample_blur_bg.png); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
	<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite">
		<!-- HEAD TITLE -->
		<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
			<div class="clearfix uiHeaderTop">
				<div>
					<img src="img/epoints.png" height="18px" style="margin-left: 5px;">
					<h2 class="uiHeaderTitle" aria-hidden="true" style="margin-left: 2px; display: inline-block;">
						 <a href="/" style="text-decoration: none;">Empires &amp; Allies </a>
					</h2>
					<p style="display: inline-block; margin: 0 0 4px 6px;">By Raise the Empires team</p>
				</div>
			</div>
		</div>
		<!-- LOGIN CONTENT -->
		<div class="phl ptm uiInterstitialContent">
			<br>
			<div style="margin-left:20px; font-size:13px;">
				<p style="font-size:14px;"><b>Choose your empire:</b></p>
				<div style="margin-left:15px; overflow-y: auto; max-height: 300px;">
					{% for dropdown_item in dropdown_items %}
					  	<a href="/home.html" onclick="login(&quot;{{dropdown_item['session_id']}}&quot;); return false" style="text-decoration: none;">
							<div style="border: 1px solid #3b5998; border-radius: 5px; margin-right:40px; display: block;">
							  	<div style="position:relative; text-align:center; display: inline-block; width:35px;" title="Avatar">
									<img src='{{dropdown_item["profilePic"]}}' style="width:35px;">
								</div>
								<div style="position:relative; display: inline-block; vertical-align: top; text-align: left;">
									<p style="margin-top:8px;">{{dropdown_item["world_name"]}} </p>
								</div>
								<div style="position:relative; text-align:center; display: inline-block;" title="{{dropdown_item["xp"]}} xp">
									<img src="img/xp.png" style="width:30px; vertical-align: super;"> 
									<div style="position: absolute; top:40%; left:50%; transform: translate(-50%, -50%); color:black;">
										{{dropdown_item["level"]}}
									</div>
								</div>
							</div>
						</a>
						<br>
					{% endfor %}
				</div>
				<br>
				<p style="font-size:12px;"><b>or <a href="/new.html">Create a new empire</a></b></p>
			</div>
		</div>
	</div>
	<!-- LOADING -->
	<div id="canvas_throbber">
		<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
		<img class="mtl img" src="img/loading.gif" alt="" width="32" height="32"/>
	</div>
</body>
</html>