<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8"/>
	<!-- Title and Icon -->
	<title id="pageTitle">Empires &amp; Allies</title>
	<link rel="shortcut icon" href="img/icon.png"/>
	<link rel="icon" type="image/png" href="img/icon.png"/>
	<!-- CSS -->
	<link rel="stylesheet" href="css/facebook.css"/>
	<!-- JS -->
	<script src="js/session.js"></script>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: auto;">
	<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite">
		<!-- HEAD TITLE -->
		<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
			<div class="clearfix uiHeaderTop">
				<div>
					<img src="img/epoints.png" height="18px" style="margin-left: 5px;">
					<h2 class="uiHeaderTitle" aria-hidden="true" style="margin-left: 2px; display: inline-block;">
						 <a href="/" style="text-decoration: none;">Empires &amp; Allies </a>
					</h2>
					<p style="display: inline-block; margin: 0 0 4px 6px;">By Raise the Empires team</p>
				</div>
			</div>
		</div>
		<!-- NEW EMPIRE CONTENT -->
		<div class="phl ptm uiInterstitialContent">
			<br>
			<div style="margin-left:20px; font-size:13px;">
				<p style="font-size:14px;"><b>Choose your avatar:</b></p>
				<div style="margin-left:15px; overflow-y: auto; max-height: 220px;">
					{% for avatar in avatars %}
						<a title="Choose this avatar" onclick="cleanHome(); return true" href="/chooseavatar/{{avatar}}"><img src="img/avatars/{{avatar}}" height=70px></a>
					{% endfor %}
					<br>
				</div>
				<br><br>
				<p style="font-size:12px; display: inline;"><b> or <a href="/login.html">Open an existing empire</a></b></p>
			</div>
		</div>
	</div>
	<!-- LOADING -->
	<div id="canvas_throbber">
		<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
		<img class="mtl img" src="img/loading.gif" alt="" width="32" height="32"/>
	</div>
</body>
</html>