<!DOCTYPE html>
<html lang="en">

<!-- LOADING BARS -->
<div id="canvas_throbber">
	<center>
		<br><br>
		<img class="mtl img" src="layouts/loading.gif" alt="" width="32" height="32"/>
	</center>
</div>
<head>
	<title id="pageTitle">Empires &amp; Allies on Facebook | Facebook</title>
	<link rel="shortcut icon" href="layouts/icon.png"/>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="layouts/yc_r.css"/>
	<script>
		function getUserInfo() {
	    console.log("getUserInfo called")
	    return {'zid': {{ zid | default(-1000) }}, 'uid': {{ zid | default(-1000) }}, 'first_name': 'Natalie', 'name':'Natalie', "sex":'F', 'pic_square': '{{ picture }}'};
	}
	function getFriendData() {
	    console.log("getFriendData called")
		return {{ allies | safe | default([]) }};
		// return  [{'zid':123, 'uid':123, 'first_name': 'Natalie', 'name':'Portman', "sex":'F'} ,{'zid':-2, 'uid':-2, 'first_name': 'Sergeant', 'name':'Cross', "sex":'M'},{'zid':-1, 'uid':-1, 'first_name': 'Steele', 'name':'Steele', "sex":'M'}];
	}
	function getAppFriendIds() {
		console.log("getAppFriendIds called")
		return {{ app_friends | safe | default([]) }};
	}

		function onGameLoaded(seen, popp, canvas) {
			console.log("Game is loaded " +seen +", " + popp + ", " + canvas)
			return
		}
		function openInAppPurchaseAPI(gid, snid, snuid,cid,a,b,c) {
			console.log("Purchase " +gid +", " + snid + ", " + snuid+ ", " + cid+ ", " + a+ ", " + b+ ", " + c)
			return
		}

		function hasPermission(perm, snuid,name) {
			console.log("Perm " +perm +", "  +snuid+ ", " + name)
			return
		}
		function showPermissions(d) {
			console.log("Show Perm " +d)
			return
		}


        zynga = {
		    "ads": {
                "WatchToEarn": {
                    "service": {
                        "available": function () {
                            console.log("W2E avail");
              				return false;
                        },
						"initializeFlash": function(oid, a,b,c) {
							console.log("initF " +oid +", " + a+ ", " + b+ ", " + c);
							return false;
						}
                    }
                }
            }
		}

		statTracker = {
		    "logWorldObjectCount":function () {
                            console.log("World Count");
              				return;
                        }
		}
	</script>

	<style>
		body:focus-within {
			overflow: hidden;
			padding-right: 17px;
		}
	</style>

</head>

<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US">
	<div class="-cx-PRIVATE-fbLayout__root">
	  	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
	  		<div id="blueBarHolder">
	  			<div id="blueBar">
	  				<div>
	  					<div class="loggedout_menubar_container">
	  						<div class="clearfix loggedout_menubar">
	  							<a class="lfloat" href="/" title="Go to Facebook Home">
	  								<i class="fb_logo img sp_e2gpgs sx_584554">
	  									<u>Facebook logo</u>
	  								</i>
	  							</a>
	  						</div>
	  					</div>
	  				<div class="signupBanner">
	  					<div class="signup_bar_container">
	  						<div class="signup_box clearfix">
			  				</div>
			  			</div>
			  		</div>
			  	</div>
	  		</div>
		</div>
	</div>
	<div id="globalContainer" class="uiContextualLayerParent">
		<div id="content" class="fb_content clearfix">
			<div>
				<div id="mainContainer">
					<div id="contentCol" class="clearfix hasRightCol">
						<div id="rightCol" role="complementary">
							<div class="fixedAux">
								<div class="canvasRHCFooter" id="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content">
									<div class="mtl">
										<div class="rhcFooterWrap" role="contentinfo">

											<div class="rhcFooterCopyright fsm fwn fcg">
												<span>Empires &amp; Allies</span>
												 · 
												<a href="#">App Privacy</a>
												 · 
												<a href="#">App Terms</a>
												 · 
												<a href="https://acidcaos.github.io/empires-and-allies/" target="_blank">Report/Contact this App</a>
											</div>

											<div class="fsm fwn fcg">
												<a rel="dialog" href="#" title="Use Facebook in another language." role="button">English (US)</a>
												 · 
												<a href="http://www.facebook.com/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a>
												 · 
												<a href="http://www.facebook.com/policies?ref=pf" title="Review our terms and policies.">Terms</a>
												 · 
												<a href="http://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookies">Cookies</a>
												 · 
												<div class="-cx-PRIVATE-uiInlineBlock__root uiPopover" id="rhc_footer_selector">
													<a class="rhcFooterSelectorButton -cx-PRIVATE-uiPopover__trigger" href="#" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_0_3" role="button">
														More <i class="img sp_ctntui sx_321d1b"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="contentArea" role="main" aria-describedby="pageTitle">
							<div class="uiInterstitial canvas_error_page " title="" style="margin-bottom: 20px">
								
								<div class="uiInterstitialBar uiBoxGray topborder">
									<div class="clearfix">

										<img src="layouts/logo.png"><p style="display: inline">{{ version | default("UNKNOWN version")}}</p>


										<div class="rfloat">
											
											<a class="inputaux uiButton" href="home.html" role="button" name="exit_button">
												<span class="uiButtonText">Debug version</span>

											<a class="inputaux uiButton" href="https://empiresandallies.fandom.com/wiki/Empires_%26_Allies_Wiki/Main_2" role="button" name="exit_button" target="_blank">
												<span class="uiButtonText">E&amp;A Wiki</span>
											</a>
										</div>
										<div class="pts">
										</div>
									</div>
								</div>
							</div>
							<center>
								<div style="text-align: center; width:1010px;">
								<div class="gameButtons" id="gameButtons" style=" margin-bottom:4px; margin-left: 5px; text-align: left;">
									<style>
										#gameButtons a{
											color: #000;
											background-color:#FFFAF0;
											font: 12px Arial;
											border: solid 1.2px;
											text-decoration: none;
											display:inline;
											padding: 4px;
											padding-left: 8px;
											padding-right: 8px;
											border-color: #DEB887;
											border-radius: 15px;
											margin-left: 3px;
										}
										#gameButtons a.selec{
											
											background-color:#FFA500;
											box-shadow: inset 0px 3px 4px -1px #ffffff;
											
										}
										
									</style>
									<a href="#">Free Gifts</a>
									<a href="#" class="selec">Play</a>
									<a href="#">My Meighbors</a>
									<a href="#">Invite Friends</a>
									<a href="#">Help</a>
									<a href="/gazillionaire">Get Empire Points</a>
									<a href="#">Earn Empire Points</a>
									<a href="#">GameCards</a>
								</div>
								
								<div style="margin:10px">
								</div>
								<object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="1000" HEIGHT="750" id="ea" ALIGN="">
									<param NAME=movie VALUE="/files/empire-s.assets.zgncdn.com/assets/109338/ZGame.109338.swf">
									<param name=FlashVars value="serverTime={{ time | default(1308211688) }}&sn_app_url=&stats=1">  <!--mute=true& &zlingshot_zoom= skipFacebook=false&decouple_from_facebook=false&decoupled_facebook_id=5452 -->
									<param NAME=quality VALUE=high>
									<param NAME=bgcolor VALUE=#333399>
					                <param name="allowFullScreen" value="true" />
									<embed src="/files/empire-s.assets.zgncdn.com/assets/109338/ZGame.109338.swf" allowFullScreen="true" FlashVars="serverTime={{ time | default(1308211688) }}&sn_app_url=&stats=1" quality=high bgcolor=#333399 WIDTH="1000" HEIGHT="750" NAME="ea" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
									</embed>
								</object>


								<table>
									<tr>
										<td><div class="logbox" id="tutorial_step">&nbsp;</div></td>
										<td><div class="logbox" id="world_log">&nbsp;</div></td>
										<td><div class="logbox" id="other_log">&nbsp;</div></td>
									</tr>
								</table>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>