<!DOCTYPE html>
<html lang="en">
<head>
	<title id="pageTitle">Empires &amp; Allies on Facebook | Facebook</title>
	<link rel="shortcut icon" href="layouts/icon.png"/>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="layouts/yc_r.css"/>
	<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US">

	<!-- TOP BANNER -->

	<div class="-cx-PRIVATE-fbLayout__root">
	  	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
	  		<div id="blueBarHolder">
	  			<div id="blueBar">
	  				<div>
	  					<div class="loggedout_menubar_container">
	  						<div class="clearfix loggedout_menubar">
	  							<a class="lfloat" href="/" title="Go to Facebook Home">
	  								<i class="fb_logo img sp_e2gpgs sx_584554">
	  									<u>Facebook logo</u>
	  								</i>
	  							</a>
	  						</div>
	  					</div>
	  				<div class="signupBanner">
	  					<div class="signup_bar_container">
	  						<div class="signup_box clearfix">
			  				</div>
			  			</div>
			  		</div>
			  	</div>
	  		</div>
		</div>
	</div>

	<!-- PAGE BODY -->

	<div id="globalContainer" class="uiContextualLayerParent">
		<div id="content" class="fb_content clearfix">
			<div>
				<div id="mainContainer">
					<div id="contentCol" class="clearfix hasRightCol">
						<div id="rightCol" role="complementary">
							<div class="fixedAux">
								<div class="canvasRHCFooter" id="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content">
									<div class="mtl">
										<div class="rhcFooterWrap" role="contentinfo">

											<div class="rhcFooterCopyright fsm fwn fcg">
												<span>Empires &amp; Allies</span>
												 · 
												<a href="#">App Privacy</a>
												 · 
												<a href="#">App Terms</a>
												 · 
												<a href="#">Report/Contact this App</a>
											</div>

											<div class="fsm fwn fcg">
												<a rel="dialog" href="#" title="Use Facebook in another language." role="button">English (US)</a>
												 · 
												<a href="http://www.facebook.com/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a>
												 · 
												<a href="http://www.facebook.com/policies?ref=pf" title="Review our terms and policies.">Terms</a>
												 · 
												<a href="http://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookies">Cookies</a>
												 · 
												<div class="-cx-PRIVATE-uiInlineBlock__root uiPopover" id="rhc_footer_selector">
													<a class="rhcFooterSelectorButton -cx-PRIVATE-uiPopover__trigger" href="#" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_0_3" role="button">
														More <i class="img sp_ctntui sx_321d1b"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="contentArea" role="main" aria-describedby="pageTitle">
							
							<div style="float:left;">
								<img src="layouts/DrSeabolt.png" style="width:80%">

							</div>

							<div class="mvl ptm uiInterstitial canvas_error_page uiBoxWhite" title="" style="margin:70px" style="float:right">
								<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
									<div class="clearfix uiHeaderTop">
										<div>
											<h2 class="uiHeaderTitle" aria-hidden="true">ChangeLog</h2>
											<h3 class="uiHeaderTitle" aria-hidden="true">alpha {{ version | default("UNKNOWN version")}} </h3>
										</div>
									</div>
								</div>
								<div class="phl ptm uiInterstitialContent" style="height:450px">
									<!-- <?php //include('changelog.txt'); ?> -->

									<div id="changelog" style="height:100%; width:100%; white-space: pre; overflow-y: scroll">
										<!--<object data="changelog.txt" type="text/plain" style="height:100%; width:100%"></object>-->
									</div>
									<script>
										$("#changelog").load("/changelog.txt");
									</script>
								</div>
								<div class="uiInterstitialBar uiBoxGray topborder">
									<div class="clearfix">
										<div class="rfloat">
											<a class="uiButton uiButtonConfirm" href="/" role="button" name="try_again_button">
												<span class="uiButtonText">Back</span>
											</a>
										</div>
										<div class="pts">
										</div>
									</div>
								</div>
							</div>
							<div id="canvas_throbber">
								<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
								<img class="mtl img" src="https://web.archive.org/web/20130619115711im_/https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif" alt="" width="32" height="32"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


