<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8"/>
	<!-- Title and Icon -->
	<title id="pageTitle">Empires &amp; Allies</title>
	<link rel="shortcut icon" href="img/icon.png"/>
	<link rel="icon" type="image/png" href="img/icon.png"/>
	<!-- CSS -->
	<link rel="stylesheet" href="css/facebook.css"/>
	<!-- JS -->
	<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" style="overflow: auto;">
	<div id="globalContainer" class="uiContextualLayerParent">
		<div id="content" class="fb_content clearfix">
			<div>
				<div>
					<div id="contentCol" class="clearfix">
						<div id="contentArea" role="main" aria-describedby="pageTitle" style="border-right: 0px;  background-image: url(img/sample_blur_bg.png); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
							<div style="float:left;">
								<img src="img/DrSeabolt.png" style="width:80%">
							</div>
							<div class="mvl ptm uiInterstitial canvas_error_page uiBoxWhite" title="" style="margin:70px" style="float:right">
								<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
									<div class="clearfix uiHeaderTop">
										<div>
											<h2 class="uiHeaderTitle" aria-hidden="true">ChangeLog</h2>
											<h3 class="uiHeaderTitle" aria-hidden="true">alpha {{ version | default("UNKNOWN version")}} </h3>
										</div>
									</div>
								</div>
								<div class="phl ptm uiInterstitialContent" style="height: 270px">
									<div id="changelog" style="height:100%; width:100%; white-space: pre; overflow: auto;">
									</div>
									<script>
										$("#changelog").load("/changelog.txt");
									</script>
								</div>
								<div class="uiInterstitialBar uiBoxGray topborder">
									<div class="clearfix">
										<div class="lfloat">
											<a class="inputaux uiButton" href="/" role="button" name="exit_button">
												<span class="uiButtonText">Back</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- LOADING -->
							<div id="canvas_throbber">
								<div class="mbl fsl fwb" id="canvas_throbber_text">Loading...</div>
								<img class="mtl img" src="img/loading.gif" alt="" width="32" height="32"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>