<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8"/>
	<!-- Title and Icon -->
	<title id="pageTitle">Empires &amp; Allies</title>
	<link rel="shortcut icon" href="img/icon.png"/>
	<link rel="icon" type="image/png" href="img/icon.png"/>
	<!-- CSS -->
	<link rel="stylesheet" href="css/facebook.css"/>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US">	
	<div class="-cx-PRIVATE-fbLayout__root">
		<br>
		<br>
		<br>
		<div id="globalContainer" class="uiContextualLayerParent">
			<div id="content" class="fb_content clearfix">
				<div>
					<div id="mainContainer">
						<div id="contentCol" class="clearfix hasRightCol">
							<div id="contentArea" role="main" aria-describedby="pageTitle">
								<form action="/save-editor" method="post">
									<div class="mvl ptm uiInterstitial canvas_error_page uiBoxWhite" title="" style="margin-left: 70px; margin-right: 50px">
										<!-- HEAD TITLE -->
										<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
											<div class="clearfix uiHeaderTop">
												<div>
													<img src="img/epoints.png" height="18px" style="margin-left: 5px;">
													<h2 class="uiHeaderTitle" aria-hidden="true" style="margin-left: 2px; display: inline-block;">
														<a href="/" style="text-decoration: none;">Empires &amp; Allies </a> ~ Save Editor
													</h2>
													<p style="display: inline; margin-left: 10px;">uid: {{uid | default("ERROR")}}</p>
												</div>
												
											</div>
										</div>
										<!-- CONTENT -->
										<div class="phl ptm uiInterstitialContent">
									        <div>
												<!-- Corruption warning -->
												{% if not valid %}
												<div style="color: crimson; font-size: 40px;"><b>Your savegame is corrupt.</b></div>
												<div style="color: crimson; font-size: 20px;">Restore a backup or fix your error. Your save game is required to have a "user object" key, beneath that a "userInfo" key and a "player" key with all needed attributes.</div>
												<br>
												{% endif %}
												<!-- Resources -->
												<br><br>
												<div style="border: 2px ; border-radius: 7px; padding: 5px 5px; background-color: #f1f1f1;">
													<h3>Resources</h3><br>

													<a class="inputaux uiButton" href="/gazillionaire">
														<img style="width:25px; display: inline;" src="img/epoints.png">
														<p style="display: inline;">+10.000 Empire Points</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/coins/int/100000">
														<img style="width:25px; display: inline;" src="img/Coins_96.png">
														<p style="display: inline;">100.000 Coins</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/wood/int/100000">
														<img style="width:25px; display: inline;" src="img/WoodStack_01_96.png">
														<p style="display: inline;">100.000 Wood</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/oil/int/100000">
														<img style="width:25px; display: inline;" src="img/Oil_96.png">
														<p style="display: inline;">100.000 Oil</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/aluminum/int/100000">
														<img style="width:25px; display: inline;" src="img/Aluminum_60.png">
														<p style="display: inline;">100.000 Aluminum</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/copper/int/100000">
														<img style="width:25px; display: inline;" src="img/Copper_60.png">
														<p style="display: inline;">100.000 Cooper</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/gold/int/100000">
														<img style="width:25px; display: inline;" src="img/Gold_60.png">
														<p style="display: inline;">100.000 Gold</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/iron/int/100000">
														<img style="width:25px; display: inline;" src="img/Iron_60.png">
														<p style="display: inline;">100.000 Iron</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/world/resources/uranium/int/100000">
														<img style="width:25px; display: inline;" src="img/Uranium_60.png">
														<p style="display: inline;">100.000 Uranium</p>
													</a>
												</div>
												<br>
												<!-- Level -->
												<div style="border: 2px ; border-radius: 7px; padding: 5px 5px; background-color: #f1f1f1;">
													<h3>Level</h3>
													<p style="display: inline-block;">First, click to reach level 85:</p>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/level/int/85">
														<div style="position:relative; text-align:center; display: inline-block;" title="Gain levels (click XP below next)">
															<img src="img/xp.png" style="width:30px;">
															<div style="position:absolute; top:40%; left:50%; transform: translate(-50%, -50%); color:black;">
																85
															</div>
														</div>
														<p style="display: inline;">Level 85</p>
													</a>
													<p style="display: inline-block;">After, match your XP:</p>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/xp/int/234454">
														<div style="position:relative; text-align:center; display: inline-block;" title="Matching XP (after clicking levels)">
															<img src="img/xp.png" style="width:30px;">
															<div style="position:absolute; top:40%; left:10%; transform: translate(-25%, -40%); color:black;">
																<img src="img/xp.png" style="width:30px;">
															</div>
														</div>
														<p style="display: inline;">Level 85 XP</p>
													</a>
												</div>
												<br>
												<!-- Player Ore -->
												<div style="border: 2px ; border-radius: 7px; padding: 5px 5px; background-color: #f1f1f1;">
													<h3>Player Ore</h3><br>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/playerResourceType/int/3">
														<img style="width:25px; display: inline;" src="img/Aluminum_60.png">
														<p style="display: inline;">Aluminum</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/playerResourceType/int/4">
														<img style="width:25px; display: inline;" src="img/Copper_60.png">
														<p style="display: inline;">Cooper</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/playerResourceType/int/5">
														<img style="width:25px; display: inline;" src="img/Gold_60.png">
														<p style="display: inline;">Gold</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/playerResourceType/int/6">
														<img style="width:25px; display: inline;" src="img/Iron_60.png">
														<p style="display: inline;">Iron</p>
													</a>
													<a class="inputaux uiButton" href="/patch/user_object/userInfo/player/playerResourceType/int/7">
														<img style="width:25px; display: inline;" src="img/Uranium_60.png">
														<p style="display: inline;">Uranium</p>
													</a>
												</div>
												<br>
												<!-- Quests -->
												<div style="border: 2px ; border-radius: 7px; padding: 5px 5px; background-color: #f1f1f1;">
													<div style="overflow: auto;">
														<div style="width: 25%; float: left; max-height: 200px; overflow: auto;">
															<h2>Unlock quests</h2><br>
															{% for key, value in quest_names | dictsort  %}
															<a href="/unlock_quest/{{ key }}">{{value}} ({{ key }})</a><br>
															{% endfor %}
														</div>
														<div style="width: 25%; float: left; max-height: 200px; overflow: auto;">
															<h2>Complete current quests</h2><br>
															{% for key, value in incomplete_quest_names | dictsort  %}
															<a href="/complete_quest/{{ key }}">{{value}} ({{ key }})</a><br>
															{% endfor %}
														</div>
														<div style="width: 25%; float: left; max-height: 200px; overflow: auto;">
															<h2>Remove current quests</h2><br>
															{% for key, value in incomplete_quest_names | dictsort  %}
															<a href="/remove_quest/{{ key }}">{{value}} ({{ key }})</a><br>
															{% endfor %}
														</div>
														<div style="width: 24%; float: left; max-height: 200px; overflow: auto;">
															<h2>Remove completed quests</h2><br>
															{% for key, value in complete_quest_names | dictsort  %}
															<a href="/remove_quest/{{ key }}">{{value}} ({{ key }})</a><br>
															{% endfor %}
														</div>
													</div>
												</div>
												<br>
												<!-- Raw editor -->
												<h3>Raw editor</h3><br>
									        	<div>
											        <textarea rows="30" cols="135" name="savegame" >{{ savegame | default("ERROR: No savegame present!")}}</textarea><br>
													<input type="text" size="135" name="message" placeholder="What did you change?"><br />
											        <span style="color: crimson"><b>Warning:</b> This can corrupt your savegame!</span>
													<span style="color: gray"><b>Psst:</b> Want to become a <a href="gazillionaire">gazillionaire</a> instead? Or want to <a href="deprogress">deprogress</a> your battle map?</span>
												</div>
												<!-- Danger Zone -->
												<br><br><h3>Danger Zone</h3><br>
												<a class="inputaux uiButton" href="wipe_session" role="button" name="exit_button">
													<span class="uiButtonText" style="color: crimson">Delete save game</span>
												</a>
											</div>
										</div>
										<div class="uiInterstitialBar uiBoxGray topborder">
											<div class="clearfix">
												<div class="rfloat">
													<a class="inputaux uiButton" href="home.html" role="button" name="exit_button">
														<span class="uiButtonText">Cancel</span>
													</a>
													<a class="uiButton uiButtonConfirm" href="home.html" role="button" name="try_again_button">
														<input type="submit" value="Save changes">
													</a>
												</div>
												<div class="pts">
												</div>
											</div>
										</div>
									</div>
									<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite" id="backup-list" style=" padding: 9px">
										<h2 class="uiHeaderTitle" aria-hidden="true"> Backups:</h2>
										{% for backup in backups %}
										{{ backup }} <a class="inputaux uiButton" href="#" role="button" name="exit_button">
														<input type="submit" name="restore{{ backups.index(backup) }}" value="Restore this backup">
													</a>
													<br />
										{% endfor %}
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>