<!DOCTYPE html>
<html lang="en">
<head>
	<title id="pageTitle">Empires &amp; Allies on Facebook | Facebook</title>
	<link rel="shortcut icon" href="layouts/icon.png"/>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="layouts/yc_r.css"/>
</head>
<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US">
	<div class="-cx-PRIVATE-fbLayout__root">
	  	<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
	  		<div id="blueBarHolder">
	  			<div id="blueBar">
	  				<div>
	  					<div class="loggedout_menubar_container">
	  						<div class="clearfix loggedout_menubar">
	  							<a class="lfloat" href="/" title="Go to Facebook Home">
	  								<i class="fb_logo img sp_e2gpgs sx_584554">
	  									<u>Facebook logo</u>
	  								</i>
	  							</a>
	  						</div>
	  					</div>
		  				<div class="signupBanner">
		  					<div class="signup_bar_container">
		  						<div class="signup_box clearfix">
				  				</div>
				  			</div>
				  		</div>
			  		</div>
	  			</div>
			</div>
		</div>
		<div id="globalContainer" class="uiContextualLayerParent">
			<div id="content" class="fb_content clearfix">
				<div>
					<div id="mainContainer">
						<div id="contentCol" class="clearfix hasRightCol">
							<div id="rightCol" role="complementary">
								<div class="fixedAux">
									<div class="canvasRHCFooter" id="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content" data-referrer="pagelet_canvas_footer_content">
										<div class="mtl">
											<div class="rhcFooterWrap" role="contentinfo">
												<div class="rhcFooterCopyright fsm fwn fcg">
													<span>Empires &amp; Allies</span>
													 · 
													<a href="#">App Privacy</a>
													 · 
													<a href="#">App Terms</a>
													 · 
													<a href="#">Report/Contact this App</a>
												</div>
												<div class="fsm fwn fcg">
													<a rel="dialog" href="#" title="Use Facebook in another language." role="button">English (US)</a>
													 · 
													<a href="http://www.facebook.com/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a>
													 · 
													<a href="http://www.facebook.com/policies?ref=pf" title="Review our terms and policies.">Terms</a>
													 · 
													<a href="http://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookies">Cookies</a>
													 · 
													<div class="-cx-PRIVATE-uiInlineBlock__root uiPopover" id="rhc_footer_selector">
														<a class="rhcFooterSelectorButton -cx-PRIVATE-uiPopover__trigger" href="#" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_0_3" role="button">
															More <i class="img sp_ctntui sx_321d1b"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="contentArea" role="main" aria-describedby="pageTitle">
								<form action="/save-editor" method="post">
									<div class="mvl ptm uiInterstitial canvas_error_page uiBoxWhite" title="" style="margin-left: 70px; margin-right: 50px">
										<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
											<div class="clearfix uiHeaderTop">
												<div>
													<h2 class="uiHeaderTitle" aria-hidden="true" style="display: inline"> Raise The Empires Save Editor uid: {{uid}}</h2>
													<div style="display: inline">
														<ul class="rfloat" style="color:#fff;">
															<li>
																<b>
																	<div style="position:relative; display: inline-block; vertical-align: top; text-align: left;" class="uiButton uiButtonConfirm">
																		<p style="margin-top:8px;">Cheat menu</p>
																	</div>
																</b>
																<ul class="dropdownUser">
																	<li><a href="#" onclick="return false">More Resources</a>
																		<ul class="third-level-menu" style="width: 60px; left: -60px;">
																			<li><a href="/gazillionaire"><img style="width:25px;" src="layouts/epoints.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/coins/int/100000"><img style="width:25px;" src="layouts/Coins_96.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/wood/int/100000"><img style="width:25px;" src="layouts/WoodStack_01_96.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/oil/int/100000"><img style="width:25px;" src="layouts/Oil_96.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/aluminum/int/100000"><img style="width:25px;" src="layouts/Aluminum_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/copper/int/100000"><img style="width:25px;" src="layouts/Copper_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/gold/int/100000"><img style="width:25px;" src="layouts/Gold_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/iron/int/100000"><img style="width:25px;" src="layouts/Iron_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/world/resources/uranium/int/100000"><img style="width:25px;" src="layouts/Uranium_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/player/level/int/85">
																				<div style="position:relative; text-align:center; display: inline-block;" title="Gain levels (click XP below next)">
																					<img src="layouts/xp.png" style="width:30px;">
																					<div style="position:absolute; top:40%; left:50%; transform: translate(-50%, -50%); color:black;">
																						85
																					</div>
																				</div></a></li>
																			<li><a href="/patch/user_object/userInfo/player/xp/int/234454">
																				<div style="position:relative; text-align:center; display: inline-block;" title="Matching XP (after clicking levels)">
																					<img src="layouts/xp.png" style="width:30px;">
																					<div style="position:absolute; top:40%; left:10%; transform: translate(-25%, -40%); color:black;">
																						<img src="layouts/xp.png" style="width:30px;">
																					</div>
																				</div></a></li>
																		</ul>
																	<li>

																	<li><a href="#" onclick="return false">Change ore</a>
																		<ul class="third-level-menu" style="width: 60px; left: -60px;">
																			<li><a href="/patch/user_object/userInfo/player/playerResourceType/int/3"><img style="width:25px;" src="layouts/Aluminum_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/player/playerResourceType/int/4"><img style="width:25px;" src="layouts/Copper_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/player/playerResourceType/int/5"><img style="width:25px;" src="layouts/Gold_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/player/playerResourceType/int/6"><img style="width:25px;" src="layouts/Iron_60.png"></a></li>
																			<li><a href="/patch/user_object/userInfo/player/playerResourceType/int/7"><img style="width:25px;" src="layouts/Uranium_60.png"></a></li>
																		</ul>
																	</li>
																	<li><a href="#" onclick="return false">Unlock quests</a>
																		<ul class="third-level-menu" style="width: 250px; left: -250px;">
																			{% for key, value in quest_names | dictsort  %}
																				<li><a href="/unlock_quest/{{ key }}">{{value}} ({{ key }})</a></li>
																			{% endfor %}
																		</ul>
																	</li>
																	<li><a href="#" onclick="return false">Complete current quests</a>
																		<ul class="third-level-menu" style="width: 250px; left: -250px;">
																			{% for key, value in incomplete_quest_names | dictsort  %}
																				<li><a href="/complete_quest/{{ key }}">{{value}} ({{ key }})</a></li>
																			{% endfor %}
																		</ul>
																	</li>
																	<li><a href="#" onclick="return false">Remove current quests</a>
																		<ul class="third-level-menu" style="width: 250px; left: -250px;">
																			{% for key, value in incomplete_quest_names | dictsort  %}
																				<li><a href="/remove_quest/{{ key }}">{{value}} ({{ key }})</a></li>
																			{% endfor %}
																		</ul>
																	</li>
																	<li><a href="#" onclick="return false">Remove completed quests</a>
																		<ul class="third-level-menu" style="width: 250px; left: -250px;">
																			{% for key, value in complete_quest_names | dictsort  %}
																				<li><a href="/remove_quest/{{ key }}">{{value}} ({{ key }})</a></li>
																			{% endfor %}
																		</ul>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
													{% if not valid %}<div style="color: crimson; font-size: 40px;"><b>Your savegame is corrupt.</b></div>
													<div style="color: crimson; font-size: 20px;">Restore a backup or fix your error. Your save game is required to have a "user object" key, beneath that a "userInfo" key and a "player" key with all needed attributes.</div>{% endif %}

												</div>
											</div>
										</div>
										<div class="phl ptm uiInterstitialContent">
									        <div>
									        	<div style="align:right">
											        <textarea rows="30" cols="135" name="savegame" >{{ savegame | default("ERROR: No savegame present!")}}</textarea><br>
													<input type="text" size="135" name="message" placeholder="What did you change?"><br />
											        <span style="color: crimson"><b>Warning:</b> This can corrupt your savegame!</span>
													<span style="color: gray"><b>Psst:</b> Want to become a <a href="gazillionaire">gazillionaire</a> instead? Or want to <a href="deprogress">deprogress</a> your battle map?</span>
												</div>
											</div>
										</div>
										<div class="uiInterstitialBar uiBoxGray topborder">
											<div class="clearfix">
												<div class="rfloat">
													<a class="inputaux uiButton" href="home.html" role="button" name="exit_button">
														<span class="uiButtonText">Cancel</span>
													</a>
													<a class="uiButton uiButtonConfirm" href="home.html" role="button" name="try_again_button">
														<span class="uiButtonText"></span>
														<input type="submit" value="Save game">
													</a>
												</div>
												<div class="pts">
												</div>
											</div>
										</div>
									</div>
									<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite" id="backup-list" style=" padding: 9px">
										<h2 class="uiHeaderTitle" aria-hidden="true"> Backups:</h2>
										{% for backup in backups %}
										{{ backup }} <a class="inputaux uiButton" href="#" role="button" name="exit_button">
														<input type="submit" name="restore{{ backups.index(backup) }}" value="Restore this backup">
													</a>
													<br />
										{% endfor %}
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>