# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test Python application

on:
  push:
    branches: [ "master", "gh-actions-test" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      #    - name: Lint with flake8
      #      run: |
      #        # stop the build if there are Python syntax errors or undefined names
      #        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      #        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
      #        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      working-directory: ./test
      run: pytest -rPA -vv --cov  --junitxml=test-results.xml --cov=. --cov-report=xml

    - name: Publish test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
       name: pytest-results
       path: test/test-results.xml

    - name: Upload coverage report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-xml
        path: test/coverage.xml

    - name: Surface failing tests
      if: always()
      uses: pmeier/pytest-results-action@main
      with:
        # A list of JUnit XML files, directories containing the former, and wildcard
        # patterns to process.
        # See @actions/glob for supported patterns.
        path: test/test-results.xml
        # (Optional) Add a summary of the results at the top of the report
        summary: true
        # (Optional) Select which results should be included in the report.
        # Follows the same syntax as `pytest -r`
        display-options: fEX
        # (Optional) Fail the workflow if no JUnit XML was found.
        fail-on-empty: true
        # (Optional) Title of the test results section in the workflow summary
        title: Test results
  coverage:
    runs-on: ubuntu-latest
    needs: run_tests
    if: '!cancelled()'
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          # This is optional since by default it's to true. The git
          # operations in python-coverage-comment-action utilize the token
          # stored by actions/checkout.
          persist-credentials: true

      - uses: actions/download-artifact@v4
        id: download
        with:
          pattern: coverage-xml
          path: coverage.xml

      - name: Display structure of downloaded files
        run: ls -lR .

      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        #  COVERAGE_PATH: coverage

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v4
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
